.container {
  background-color: #010922;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  padding: 24px 80px 94px;
}

.heroSection {
  margin-top: 154px;
  max-width: 1091px;
  align-items: center;
}

.heroContent {
  gap: 20px;
  display: flex;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.9;
  }
}

.glow {
  position: relative;
  z-index: 1;
}

.glow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  background: #4e5c8d;
  filter: blur(100px);
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: pulse 2s infinite alternate ease-in-out;
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0;
}

.heroText {
  display: flex;
  width: 95%;
  flex-direction: column;
  align-self: stretch;
  align-items: start;
  margin: auto 0;
  font: 700 20px Outfit, sans-serif;
}

.mainTitle {
  color: #fff;
  font-size: 70px;
  line-height: 83px;
  text-transform: capitalize;
}

.description {
  color: #fff;
  line-height: 28px;
  margin-top: 15px;
  width: 380px;
}

.ctaButtons {
  align-self: stretch;
  display: flex;
  margin-top: 27px;
  gap: 15px;
  text-transform: uppercase;
  line-height: 1;
  flex-wrap: wrap;
}

.primaryButton {
  border-radius: 50px;
  background-color: #8c8cda;
  color: #fff;
  flex-grow: 1;
  width: fit-content;
  padding: 18px 70px;
}

.secondaryButton {
  border-radius: 50px;
  background-color: #8dd0d1;
  color: #fff;
  flex-grow: 1;
  width: fit-content;
  padding: 18px 70px;
  border: 1px solid #8dd0d1;
}

.heroImage {
  aspect-ratio: 1.11;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}

.featuredSection {
  color: #fff;
  text-transform: uppercase;
  align-self: start;
  margin-top: 60px;
  font: 700 20px/1 Outfit, sans-serif;
}

.featuredLogos {
  border-radius: 15px;
  background-color: rgba(51, 44, 102, 0.33);
  display: flex;
  margin-top: 21px;
  width: 100%;
  max-width: 1065px;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 19px 73px;
}

.testimonialSection {
  margin-top: 166px;
  width: 100%;
  max-width: 1065px;
}

.testimonialGrid {
  gap: 20px;
  display: flex;
}

.testimonialColumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
}

.exploreMusicSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  margin-top: 100px;
}

.exploreContainer {
  background: linear-gradient(135deg, #2c2c6c, #5d75c3);
  padding: 40px 80px;
  border-radius: 50px;
  text-align: center;
  max-width: 650px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.exploreTitle {
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.exploreSubtitle {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: -30px;
  margin-top: 40px;
  width: 100%;
}

.exploreButton {
  background: black;
  color: white;
  padding: 15px 70px;
  font-size: 13px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: -10px;
  margin-left: 190px;
  /* margin: 0 auto; */
}

.exploreButton:hover {
  background: #333;
}

@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }

  .heroSection {
    max-width: 100%;
    margin-top: 40px;
  }

  .heroContent {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .column {
    width: 100%;
  }

  .heroText {
    max-width: 100%;
    margin-top: 40px;
  }

  .mainTitle {
    max-width: 100%;
    font-size: 40px;
    line-height: 49px;
  }

  .ctaButtons {
    max-width: 100%;
  }

  .primaryButton,
  .secondaryButton {
    padding: 0 20px;
  }

  .heroImage {
    max-width: 100%;
    margin-top: 26px;
  }

  .featuredSection {
    margin-top: 40px;
  }

  .featuredLogos {
    max-width: 100%;
    padding: 0 20px;
  }

  .testimonialSection {
    max-width: 100%;
    margin-top: 40px;
  }

  .testimonialGrid {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .testimonialColumn {
    width: 100%;
  }
}